body{
    background: rgb(236,255,188);
    background: linear-gradient(90deg, rgba(236,255,188,1) 0%, rgba(193,255,190,1) 50%, rgba(154,186,175,1) 100%);
    }
.menu{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    box-shadow: 7px 1px 100px #E6E8EB;
}
a{
    text-decoration:none;
    color: black;
    font-weight:bold;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 5px solid;
}
a:hover{
    background-color: #4aff41;
    padding-bottom: 15px;
    border-bottom: 5px #CDCFD1;
}
.titulo{
    text-align: center;
    position: relative;
    background-color: #70f9ae;
    border-radius: 5px;
    color: #434738;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 10px 10px 1px #E6E8EB;
    animation-name: animacion;
    animation-duration: 1s;
}
.EfectoC{
    position: relative;
    display: inline-block;
    text-align: center;
    left: 535px;
    top: 100px;
    animation-name: animacion;
    animation-duration: 1s;
}
.image1{
    width: 400px;
    height: 250px;
    float: left;
    margin-left: 15%;
    margin-top: 30px;
    padding-right: 25px;
    padding-top: 15px;
    animation-name: animacion;
    animation-duration: 1s;
}
.image2{
    width: 000px;
    height: 185px;
    float: left;
    margin-left: 15%;
    margin-top: 30px;
    padding-right: 25px;
    padding-top: 15px;
    animation-name: animacion;
    animation-duration: 1s;
}
.subtitulo{
    padding-top: 10px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    animation-name: animacion;
    animation-duration: 1s;
    
}
.subtituloc{
    padding-right: 80px;
    text-align: center;
    padding-top: 10px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.parrafo{
    padding-top: 15px;
    padding-bottom: 50px;
    margin-right: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 25px;
    text-align: justify;
}
.miniback{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, .4);
    margin-right: 10%;
    margin-left: 10%;
    box-shadow: 7px 1px 20px #E6E8EB;
    border-radius: 20px;
}
.vision{
    padding-top: 15px;
    padding-bottom: 50px;
    margin-right: 10%;
    margin-left: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    opacity: 250%;
}
.form{
    padding-top: 15px;
    padding-bottom: 50px;
    margin-right: 25%;
    margin-left: 25%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 25px;
    text-align: justify;
}
.formback{
    background-color: rgba(255, 255, 255, .5);
    margin-right: 35%;
    margin-left: 35%;
    box-shadow: 7px 1px 20px #E6E8EB;
    border-radius: 20px;
}
.boton{
    color: #434738;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.entrada{
    color: #434738;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 15px;
}
footer{
    background-color: #434738;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 10%;
    margin-bottom: -8px;
    padding-top: 50px;
    padding-bottom: 3%;
}
.textof{
    position:absolute;
    float: left;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: rgb(0,173,20);
    background: linear-gradient(90deg, rgba(0,173,20,1) 0%, rgba(60,135,123,1) 100%);
    margin-right: 70%;
    margin-left: 15%;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.textf{
    position: relative;
    color: white;
    margin-left: 35%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
.logo{
    position: absolute;
    width: 100px;
    margin-left: 70%;
}
.formbackc{
    background: rgb(83,186,170);
    background: linear-gradient(90deg, rgba(83,186,170,1) 0%, rgba(0,255,30,1) 100%);
    margin-right: 42%;
    margin-left: 42%;
    box-shadow: 7px 1px 20px #E6E8EB;
    border-radius: 400em;
    padding-bottom: 15px;
    transform: scale(0.8);  
}
.visionc{
    margin-top: 25px;
    padding-bottom: 15px;
    margin-right: 1%;
    margin-left: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 30px #E6E8EB;
}
.visione{
    margin-top: 25px;
    padding-bottom: 15px;
    margin-right: 1%;
    margin-left: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 30px #E6E8EB;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*animacion entrar*/
@keyframes pulse{
    0% {
        opacity: 0.30;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0.30;
        transform: translateY(0);
    }
}
@keyframes animacion{
    0% {
        opacity: 0.5;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.formbackc:hover{
    transform: scale(0.7);
    background: rgb(0,255,30);
    background: linear-gradient(90deg, rgba(0,255,30,1) 0%, rgba(83,186,170,1) 100%);

}
input, textarea{
    border-radius: 30px;
    border: 2px solid #434738;
    background: rgba(255, 255, 255, 0.5);
}
textarea{
    padding-top: 15px;
    padding-right: 25px;
    text-align: center;
}
input{
    padding-right: 25px;
    padding-left: 15px;
}
.boton{
    background: #6cfa4b;
    color: black;
}
.boton:hover{
    transform: scale(1.1);
}